<div class="wrapper">
  <div class="container-fluid">
    <app-navbar></app-navbar>
    <div class="row category-menu">
      <div class="col col-2">
        <h1 class="my-4">Categories</h1>
        <app-category-list></app-category-list>
      </div>
      <div class="col-9 main-content">
        <div class="main-content">
          content
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <app-navbar></app-navbar>
<mat-toolbar></mat-toolbar>
<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>
    <app-category-list></app-category-list>
  </mat-drawer>
  <mat-drawer-content>Main content</mat-drawer-content>
</mat-drawer-container> -->
