<h4 class="text-center">Filter</h4>
<div class="form-group">
  <h5>Price:</h5>
  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text" id="">Min. price:</span>
    </div>
    <input class="form-control" type="number" name="minPrice" placeholder="Text">
  </div>
  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text">Max. price</span>
    </div>
    <input class="form-control" type="number" name="maxPrice" placeholder="Text">
  </div>
</div>
