<h4 class="text-center">Filter</h4>
<div class="form-group">
  <h5>Price:</h5>
  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text">Max.price</span>
    </div>
    <input class="form-control" type="number" name="maxPrice" placeholder="Max lot price" [(ngModel)]="maxPrice">
  </div>
</div>
<div class="form-group">
  <h5>Date:</h5>
  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text">Starts on:</span>
    </div>
    <input class="form-control" type="date" name="startDate" [(ngModel)]="start" min="2019-01-01" max="2020-01-01">
  </div>
  <br>
  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text">Ends on:</span>
    </div>
    <input class="form-control" type="date" name="endDate" [(ngModel)]="end" min="2019-01-01" max="2020-01-01">
  </div>

  <div class="form-group">
    <h5>Display:</h5>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">Items per. page:</span>
      </div>
      <input class="form-control" type="number" name="perPage" min="10" max="20" [(ngModel)]="perPage">
    </div>
  </div>
